<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="examEntities" connectionString="metadata=res://*/project.csdl|res://*/project.ssdl|res://*/project.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlproject2022.database.windows.net;initial catalog=exam;persist security info=True;user id=team3;password=Team1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="exam3Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1D9MU23\SS17;initial catalog=exam3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="examEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlproject2022.database.windows.net;initial catalog=exam;user id=team3;password=Team1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>